Repository yheuhtozr/forem, changes with the owners that .github/CODEOWNERS names for each.
All owners: @forem/oss, @forem/frontend, @forem/sre, @forem/backend, @forem/systems

.github/CODEOWNERS:

# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

**/*.md                                             @forem/oss
/app/assets/                                        @forem/frontend
/app/controllers/async_info_controller.rb           @forem/sre
/app/javascript/                                    @forem/frontend
/app/services/search/                               @forem/sre
/app/workers/                                       @forem/sre
/config/                                            @forem/sre
/config/locales
/db/                                                @forem/sre @forem/backend
/lib/data_update_scripts/                           @forem/sre
/lib/sidekiq/                                       @forem/sre
/spec/rails_helper.rb                               @forem/sre @forem/backend
/spec/support/                                      @forem/sre
.buildkite/                                         @forem/systems @forem/sre
.travis.yml                                         @forem/sre
Containerfile                                       @forem/systems
docker-compose.yml                                  @forem/systems
Dockerfile                                          @forem/systems
Gemfile                                             @forem/sre @forem/backend
Gemfile.lock                                        @forem/sre @forem/backend
package.json                                        @forem/frontend
podman-compose.yml                                  @forem/systems
scripts/                                            @forem/systems
yarn.lock                                           @forem/frontend

site styling reapplication 211009
  app/assets/javascripts/utilities/buildArticleHTML.js
  app/javascript/articles/Article.jsx
  app/javascript/articles/__tests__/__snapshots__/Article.test.jsx.snap
  app/javascript/articles/components/CommentsCount.jsx
  app/views/articles/_single_story.html.erb
Owners: @forem/frontend

site function: retain boost_states for feed bots
  app/models/article.rb
  db/migrate/20211007172232_drop_boost_states_from_articles.rb
  db/schema.rb
  spec/models/article_spec.rb
Owners: @forem/sre, @forem/backend

language name scope reapplication 211009
  app/models/article.rb
Owners: none

site function: feed bots listing trigger hotfix
  app/models/listing.rb
Owners: none

views i18n, ja translation share buttons hotfix
  app/i18n/views/actions/ja.yml
  app/views/articles/_actions.html.erb
Owners: none

i18n merge core.loading fix
  app/views/articles/index.html.erb
  app/views/dashboards/_sublist.html.erb
  app/views/organizations/show.html.erb
  app/views/podcast_episodes/index.html.erb
  app/views/stories/articles_search/index.html.erb
  app/views/stories/tagged_articles/index.html.erb
  app/views/users/show.html.erb
  app/views/videos/index.html.erb
Owners: none

separate settings directory from users
  app/views/users/_account.html.erb
  app/views/users/_account_providers_emails.html.erb
  app/views/users/_account_providers_settings.html.erb
  app/views/users/_account_set_password.html.erb
  app/views/users/_additional_authentication.html.erb
  app/views/users/_billing.html.erb
  app/views/users/_customization.html.erb
  app/views/users/_editor_selector.html.erb
  app/views/users/_extensions.html.erb
  app/views/users/_integrations.html.erb
  app/views/users/_integrations_github_repositories.html.erb
  app/views/users/_navbar_selector.html.erb
  app/views/users/_notifications.html.erb
  app/views/users/_org_admin.html.erb
  app/views/users/_org_member.html.erb
  app/views/users/_profile.html.erb
  app/views/users/_publishing_from_rss.html.erb
  app/views/users/_response_templates.html.erb
  app/views/users/confirm_destroy.html.erb
  app/views/users/edit.html.erb
  config/locales/views/organizations/fr.yml
  config/locales/views/settings/en.yml
  config/locales/views/settings/fr.yml
  config/locales/views/settings/ja.yml
  config/locales/views/users/en.yml
  config/locales/views/users/fr.yml
  config/locales/views/users/ja.yml
Owners: none

[CP] non-views i18n normalized to I18n
  app/controllers/chat_channel_memberships_controller.rb
  app/controllers/chat_channels_controller.rb
  app/controllers/comments_controller.rb
  app/controllers/credits_controller.rb
  app/controllers/profile_pins_controller.rb
  app/controllers/registrations_controller.rb
  app/decorators/comment_decorator.rb
  app/decorators/podcast_episode_decorator.rb
  app/helpers/application_helper.rb
  app/helpers/date_helper.rb
  app/models/article.rb
  app/models/comment.rb
  app/models/tag.rb
  app/services/payments/process_credit_purchase.rb
  app/views/api/v0/shared/_user_show.json.jbuilder
Owners: none

[CP] revert site flavor
  app/controllers/users_controller.rb
  app/lib/constants/settings.rb
  app/lib/settings.rb
  app/models/article.rb
  app/views/articles/_single_story.html.erb
  app/views/articles/_v2_form.html.erb
  app/views/listings/new.html.erb
  app/views/shared/_authentication_title.html.erb
  app/views/users/_customization.html.erb
  app/views/users/_editor_selector.html.erb
  app/views/users/edit.html.erb
  config/locales/en.yml
  config/locales/fr.yml
  config/locales/misc/en.yml
  config/locales/misc/fr.yml
  config/locales/misc/ja.yml
  config/locales/views/articles/en.yml
  config/locales/views/articles/fr.yml
  config/locales/views/articles/ja.yml
  config/locales/views/auth/en.yml
  config/locales/views/auth/fr.yml
  config/locales/views/auth/ja.yml
  config/locales/views/comments/en.yml
  config/locales/views/comments/fr.yml
  config/locales/views/comments/ja.yml
  config/locales/views/editor/en.yml
  config/locales/views/editor/fr.yml
  config/locales/views/editor/ja.yml
  config/locales/views/organizations/en.yml
  config/locales/views/organizations/fr.yml
  config/locales/views/organizations/ja.yml
  config/locales/views/reactions/en.yml
  config/locales/views/reactions/fr.yml
  config/locales/views/reactions/ja.yml
  config/locales/views/users/en.yml
  config/locales/views/users/fr.yml
  config/locales/views/users/ja.yml
  spec/requests/user/user_settings_spec.rb
Owners: none

i18n merge core.loading fix
  app/views/articles/index.html.erb
  app/views/dashboards/_sublist.html.erb
  app/views/organizations/show.html.erb
  app/views/podcast_episodes/index.html.erb
  app/views/stories/articles_search/index.html.erb
  app/views/stories/tagged_articles/index.html.erb
  app/views/users/show.html.erb
  app/views/videos/index.html.erb
Owners: none

separate settings directory from users
  app/views/users/_account.html.erb
  app/views/users/_account_providers_emails.html.erb
  app/views/users/_account_providers_settings.html.erb
  app/views/users/_account_set_password.html.erb
  app/views/users/_additional_authentication.html.erb
  app/views/users/_billing.html.erb
  app/views/users/_customization.html.erb
  app/views/users/_editor_selector.html.erb
  app/views/users/_extensions.html.erb
  app/views/users/_integrations.html.erb
  app/views/users/_integrations_github_repositories.html.erb
  app/views/users/_navbar_selector.html.erb
  app/views/users/_notifications.html.erb
  app/views/users/_org_admin.html.erb
  app/views/users/_org_member.html.erb
  app/views/users/_profile.html.erb
  app/views/users/_publishing_from_rss.html.erb
  app/views/users/_response_templates.html.erb
  app/views/users/confirm_destroy.html.erb
  app/views/users/edit.html.erb
  config/locales/views/organizations/fr.yml
  config/locales/views/settings/en.yml
  config/locales/views/settings/fr.yml
  config/locales/views/settings/ja.yml
  config/locales/views/users/en.yml
  config/locales/views/users/fr.yml
  config/locales/views/users/ja.yml
Owners: none

one entry articles -> comments; a locale fix
  app/views/articles/_comments_actions.html.erb
  config/locales/views/articles/en.yml
  config/locales/views/articles/fr.yml
  config/locales/views/articles/ja.yml
  config/locales/views/comments/en.yml
  config/locales/views/comments/fr.yml
  config/locales/views/comments/ja.yml
Owners: none

tag errors views -> models
  app/models/tag.rb
  config/locales/models/en.yml
  config/locales/models/fr.yml
  config/locales/models/ja.yml
  config/locales/views/tags/en.yml
  config/locales/views/tags/fr.yml
  config/locales/views/tags/ja.yml
Owners: none

push notification views -> services
  app/services/notifications/new_comment/send.rb
  config/locales/services/en.yml
  config/locales/services/fr.yml
  config/locales/services/ja.yml
  config/locales/views/notifications/en.yml
  config/locales/views/notifications/fr.yml
  config/locales/views/notifications/ja.yml
Owners: none

articles yml strange error fix
  config/locales/views/articles/en.yml
  config/locales/views/articles/fr.yml
  config/locales/views/articles/ja.yml
Owners: none

auth errors views -> controllers
  app/controllers/registrations_controller.rb
  config/locales/controllers/en.yml
  config/locales/controllers/fr.yml
  config/locales/controllers/ja.yml
  config/locales/views/auth/en.yml
  config/locales/views/auth/fr.yml
  config/locales/views/auth/ja.yml
Owners: none

one notification key back to views
  app/services/notifications/new_comment/send.rb
  config/locales/services/en.yml
  config/locales/services/fr.yml
  config/locales/services/ja.yml
  config/locales/views/notifications/en.yml
  config/locales/views/notifications/fr.yml
  config/locales/views/notifications/ja.yml
Owners: none

credits messages views -> controllers, services
  app/controllers/credits_controller.rb
  app/services/payments/process_credit_purchase.rb
  config/locales/controllers/en.yml
  config/locales/controllers/fr.yml
  config/locales/controllers/ja.yml
  config/locales/services/en.yml
  config/locales/services/fr.yml
  config/locales/services/ja.yml
  config/locales/views/credits/en.yml
  config/locales/views/credits/fr.yml
  config/locales/views/credits/ja.yml
Owners: none

final fixes
  app/helpers/notifications_helper.rb
  app/views/notifications/_comment.html.erb
  config/locales/views/notifications/en.yml
  config/locales/views/notifications/fr.yml
  config/locales/views/notifications/ja.yml
Owners: none

final fixes
  app/views/comments/_comment_date.erb
  app/views/comments/_comment_header.html.erb
  app/views/comments/index.html.erb
  config/locales/views/comments/en.yml
  config/locales/views/comments/fr.yml
  config/locales/views/comments/ja.yml
Owners: none

final fixes
  app/views/articles/_single_story.html.erb
Owners: none

Update social_image.rb
  app/view_objects/articles/social_image.rb
Owners: none

settings key fixes
  app/views/users/_org_admin.html.erb
  app/views/users/_org_member.html.erb
  app/views/users/_org_non_member.html.erb
  app/views/users/_profile.html.erb
Owners: none

i18n merge core.loading fix
  app/views/articles/index.html.erb
  app/views/dashboards/_sublist.html.erb
  app/views/organizations/show.html.erb
  app/views/podcast_episodes/index.html.erb
  app/views/stories/articles_search/index.html.erb
  app/views/stories/tagged_articles/index.html.erb
  app/views/users/show.html.erb
  app/views/videos/index.html.erb
Owners: none

[CP] separate settings directory from users
  app/views/users/_account.html.erb
  app/views/users/_account_providers_emails.html.erb
  app/views/users/_account_providers_settings.html.erb
  app/views/users/_account_set_password.html.erb
  app/views/users/_additional_authentication.html.erb
  app/views/users/_billing.html.erb
  app/views/users/_customization.html.erb
  app/views/users/_editor_selector.html.erb
  app/views/users/_extensions.html.erb
  app/views/users/_integrations.html.erb
  app/views/users/_integrations_github_repositories.html.erb
  app/views/users/_navbar_selector.html.erb
  app/views/users/_notifications.html.erb
  app/views/users/_org_admin.html.erb
  app/views/users/_org_member.html.erb
  app/views/users/_profile.html.erb
  app/views/users/_publishing_from_rss.html.erb
  app/views/users/_response_templates.html.erb
  app/views/users/confirm_destroy.html.erb
  app/views/users/edit.html.erb
  config/locales/views/organizations/fr.yml
  config/locales/views/settings/en.yml
  config/locales/views/settings/fr.yml
  config/locales/views/settings/ja.yml
  config/locales/views/users/en.yml
  config/locales/views/users/fr.yml
  config/locales/views/users/ja.yml
Owners: none

settings key fixes
  app/views/articles/_single_story.html.erb
  app/views/users/_org_admin.html.erb
  app/views/users/_org_member.html.erb
  app/views/users/_org_non_member.html.erb
  app/views/users/_profile.html.erb
Owners: none

use vanilla I18n
  Gemfile
  Gemfile.lock
  app/helpers/locale_helper.rb
  app/views/articles/_translations.html.erb
  config/application.rb
  vendor/cache/r18n-core-5.0.1.gem
  vendor/cache/r18n-rails-5.0.0.gem
  vendor/cache/r18n-rails-api-5.0.0.gem
Owners: @forem/sre, @forem/backend
