Repository yheuhtozr/forem, changes with the owners that .github/CODEOWNERS names for each.
All owners: @forem/core-reviewers, @forem/sre, @forem/systems

.github/CODEOWNERS:

# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details


# File exentions based ownership
#
# They are: .builder, .css, .erb, .gif, .ico, .jbuilder, .js, .jsx,
#           .map, .md, .mdx, .otf, .png, .rake, .rb, .scss, .snap,
#           .svg, .toml, .xml
#
# Use the following to generate the list:
#
# * `tree app | rg "\.\w+$" --only-matching | sort | uniq`
# * `tree lib | rg "\.\w+$" --only-matching | sort | uniq`
#
**/*.builder                                        @forem/core-reviewers
**/*.css                                            @forem/core-reviewers
**/*.erb                                            @forem/core-reviewers
**/*.jbuilder                                       @forem/core-reviewers
**/*.js                                             @forem/core-reviewers
**/*.json                                           @forem/core-reviewers
**/*.jsx                                            @forem/core-reviewers
**/*.md                                             @forem/core-reviewers
**/*.rb                                             @forem/core-reviewers
**/*.scss                                           @forem/core-reviewers

# Context based ownership
/app/assets/                                        @forem/core-reviewers
/app/controllers/async_info_controller.rb           @forem/sre
/app/javascript/                                    @forem/core-reviewers
/app/services/search/                               @forem/sre
/app/workers/                                       @forem/sre
/config/                                            @forem/sre
/config/locales
/db/                                                @forem/sre @forem/core-reviewers
/lib/data_update_scripts/                           @forem/sre
/lib/sidekiq/                                       @forem/sre
/spec/rails_helper.rb                               @forem/sre @forem/core-reviewers
/spec/support/                                      @forem/sre
.buildkite/                                         @forem/systems @forem/sre
.travis.yml                                         @forem/sre
Containerfile                                       @forem/systems
docker-compose.yml                                  @forem/systems
Dockerfile                                          @forem/systems
Gemfile                                             @forem/core-reviewers @forem/sre
Gemfile.lock                                        @forem/core-reviewers @forem/sre 
package.json                                        @forem/core-reviewers
podman-compose.yml                                  @forem/systems
scripts/                                            @forem/systems
yarn.lock                                           @forem/core-reviewers

js webpack i18n import order hotfix
  app/javascript/article-form/components/Options.jsx
Owners: @forem/core-reviewers

site styling: overlong option dropdown workaround
  app/views/articles/_v2_form.html.erb
Owners: @forem/core-reviewers

views i18n & i18n-tasks update
  app/views/articles/_full_comment_area.html.erb
  config/i18n-tasks.yml
  config/locales/views/articles/en.yml
  config/locales/views/articles/fr.yml
  config/locales/views/articles/ja.yml
  config/locales/views/comments/ja.yml
  config/locales/views/misc/ja.yml
Owners: @forem/core-reviewers, @forem/sre

image uploader nil response crash hotfix
  Gemfile.lock
  vendor/cache/ssrf_filter-1.0.8.gem
  vendor/cache/ssrf_filter-1.1.1.gem
Owners: @forem/core-reviewers, @forem/sre

site function: publish warning reapplied schedule-aware
  app/javascript/article-form/components/EditorActions.jsx
  app/javascript/i18n/en-US.json
  app/javascript/i18n/ja.json
Owners: @forem/core-reviewers

site function: OGP no one-time processes, yes eco
  app/controllers/social_previews_controller.rb
  app/services/ogp_generation.rb
Owners: @forem/core-reviewers

site function: bidi tag w/ lang tag extension
  app/liquid_tags/bidi_tag.rb
  app/liquid_tags/lang_tag.rb
  app/views/liquids/_bidi.html.erb
  app/views/liquids/_lang.html.erb
Owners: @forem/core-reviewers

site function: OGP AlreadyDisconnectedError hotfix etc.
  app/controllers/social_previews_controller.rb
  app/services/ogp_generation.rb
Owners: @forem/core-reviewers

pages i18n: unified embed adaptation
  app/views/pages/_editor_guide_h3.en-US.html.erb
  app/views/pages/_editor_guide_h3.ja.html.erb
  app/views/pages/_editor_guide_text.ja.html.erb
  app/views/pages/_editor_liquid_help.en-US.html.erb
  app/views/pages/_editor_liquid_help.ja.html.erb
  app/views/pages/_liquid_tag_section_intro.en-US.html.erb
  app/views/pages/_liquid_tag_section_intro.ja.html.erb
  app/views/pages/_supported_nonurl_embeds_list.en-US.html.erb
  app/views/pages/_supported_nonurl_embeds_list.ja.html.erb
  app/views/pages/_supported_url_embeds_list.en-US.html.erb
  app/views/pages/_supported_url_embeds_list.ja.html.erb
Owners: @forem/core-reviewers

site function: migdal features link (temp. ja only)
  app/views/pages/_editor_liquid_help.ja.html.erb
  app/views/pages/_supported_nonurl_embeds_list.ja.html.erb
Owners: @forem/core-reviewers

routes i18n: setup localized routing and model paths
  app/controllers/application_controller.rb
  app/decorators/article_decorator.rb
  app/helpers/locale_helper.rb
  app/models/article.rb
  app/models/badge.rb
  app/models/collection.rb
  app/models/comment.rb
  app/models/concerns/localizable.rb
  app/models/listing.rb
  app/models/organization.rb
  app/models/page.rb
  app/models/podcast_episode.rb
  app/models/user.rb
  app/view_objects/articles/social_image.rb
  app/views/articles/_translations.html.erb
  config/application.rb
  config/initializers/i18n_locale_fallbacks.rb
  config/routes.rb
Owners: @forem/core-reviewers, @forem/sre

fr translation: dummy JSONs for testing
  app/javascript/i18n/fr.json
  public/javascripts/i18n/fr.json
Owners: @forem/core-reviewers

fr translation: yml completion
  config/locales/devise.fr.yml
  config/locales/languages-fallback.fr.yml
  config/locales/languages.fr.yml
  config/locales/migdal/fr.yml
Owners: none

views i18n: fr key fixes
  config/locales/views/articles/fr.yml
  config/locales/views/settings/fr.yml
Owners: none
